[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
networkx = "*"
gardener-cicd-libs = "*"
msal_extensions = ">=1.1"
azure-core = "1.30.2"
azure-identity = "1.17.1"
azure-mgmt-compute = "32.0.0"
azure-mgmt-core = "1.4.0"
azure-mgmt-network = "26.0.0"
azure-mgmt-resource = "23.0.1"
azure-mgmt-storage = "21.2.1"
azure-storage-blob = "12.21.0"
