[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
networkx = "*"
gardener-cicd-libs = "*"
msal_extensions = ">=1.1"
azure-core = "1.32.0"
azure-identity = "1.19.0"
azure-mgmt-compute = "33.1.0"
azure-mgmt-core = "1.5.0"
azure-mgmt-network = "28.0.0"
azure-mgmt-resource = "23.2.0"
azure-mgmt-storage = "21.2.1"
azure-storage-blob = "12.24.0"
